# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.sls ##}
{% import_yaml 'pki/defaults.yaml' as defaults %}

{## Add any overrides based on operating system. ##}
{% set defaults = salt['grains.filter_by']({
        'Debian': {
            'runtime': {
                'm2crypto_package': 'python-m2crypto',
                'ssl_cert': True
            }
        },
        'RedHat': {
            'runtime': {
                'm2crypto_package': 'm2crypto',
                'ssl_cert': False
            }
        },
  }
  , grain='os_family'
  , merge=defaults)
%}

{## Merge user configuration from in pki:* pillar ##}
{% set pki = salt['pillar.get']('pki', default=defaults, merge=True) %}
